html,body { height: 100%; margin: 0; padding: 0; }
body {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAzElEQVRoQ+2UwQmFMBQETdrwYFGpM0V5sI0gHgQRhGSTBQnzT8J/u/hmEsMyyS9MssfCIn8ziRGMmAhwtExg5VqMyOhMQYyYwMq1GJHRmYIYMYGVazEiozMFMVILNue8XbMppb02o8zZjbBIoxaMfAG7j9L9fyllvZ5jjMczM/rODDcyzSJvU1x2LnsjgdrxaY5W7cK9c8O/Wr0vpOZZRCXnymHERVbtxYhKzpXDiIus2osRlZwrhxEXWbUXIyo5Vw4jLrJqL0ZUcq7cCT5zMDPIDj65AAAAAElFTkSuQmCC');
    background-size: 50px 50px;
    background-repeat: repeat;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
#diagram { height: 100%; width: 100%; overflow: hidden; }

#logs { display: none; padding: 5px; }
#logs p { margin: 0; }

#states { display: none; margin: 15px; }
#states > div { padding: 8px 0; }
#states > div > a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 4px 8px;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
#states > div > a:hover { background-color: rgba(255, 255, 255, 0.25); text-decoration: none; }
#states > div > a span { color: rgb(124, 191, 0); font-size: 10px; }
#states .ips { display: none; font-size: 10px; margin-top: 10px; margin-left: 10px; }

#tabs { position: fixed; bottom: 0; right: 0; border-radius: 6px 0 0 0; background-color: rgb(43,43,43); }
#tabs { padding: 7px; margin: 0; float: right; list-style: none; }
#tabs>li { float: left; margin-right: 5px; }
#tabs>li:last-child { margin-right: 0; }
#tabs>li>a {
    color: gray;
    font-size: 13px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 6px;
    position: relative;
    display: block;
    padding: 4px 6px;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
#tabs>li>a:hover { background-color: rgb(65, 65, 65); }
#tabs>li.active>a, #tabs>li.active>a:focus, #tabs>li.active>a:hover { color: gray; cursor: default; background-color: #333; border: 1px solid rgb(65, 65, 65); }